* {
  box-sizing: border-box;
  /* font-family: sans-serif */
}

body {
  margin: 0;
  /* font-family: sans-serif; */
  font-family: var(--outfit);

}

.hero-section {
  text-align: center;
  padding: 90px 32px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 50px 0px;


}

.row {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* padding: 0 4px; */
}

/* 
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} */


.gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

.photo {
  position: absolute;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 25%;
    max-width: 33.33%;
  }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.content-main {
  background-color: #393e46;
  display: flex;
  padding: 80px 15px;
  justify-content: center;

}

.content-main .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  padding: 30px;
  justify-content: center;
  flex-wrap: wrap;

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .content-main {
    padding: 30px 15px;
  }

  .content-main .content {
    width: 55%;
    display: flex;
    align-items: center;
    padding: 15px;
  }

  .content-right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .content-main {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
  }

  .content-main .content {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  .content-right {
    width: 100%;
    /* height: 90; */
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

.content h2 {
  color: #878688;
  position: relative;
  font-size: 3rem;
  width: 100%;
  font-weight: 700;
  opacity: 80%;
  padding-bottom: 1.5rem;
}

.content p {
  color: #bdbdbd;
  font-size: 18px;
}

.content-right img {
  width: 100%;
  border-radius: 30px;
}

.bottom-content,
.teachers {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
}

.hero-section h1,
.bottom-content h2,
.teachers h2 {
  margin: 0;
  color: #009dff;
}

.hero-section h1 {
  font-size: 3.2rem;
}

.bottom-content {
  padding: 80px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: auto;
}

.bottom-content h2 {

  font-size: 3rem;
}

.hero-section p,
.bottom-content p,
.teachers p {
  margin: 5px 0;
  font-size: 1.3em;
  color: #666;
}

.teachers {
  margin: 20px 0;
  padding: 80px 40px;
}

.teachers h2 {
  font-size: 3.2rem;

}

.teachers p {
  color: #393e46;

}
/* new gallery */
.gallery {
  min-height: 90vh;
  background: #fff;
  padding-bottom: 70px;


}

.gallery .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0px;
  list-style: none;
}

.gallery .controls .buttons {
  height: 40px;
  width: 140px;
  background: #fff;
  color: #666;
  line-height: 40px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  text-align: center;
}

.gallery .controls .buttons.active {
  background: coral;
  color: #fff;
}

.gallery .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  

}


.gallery .img-container .image {
  width: 350px;
  height: 250px;
  overflow: hidden;
  border: 15px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  margin: 20px;
}

.gallery .img-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .3s;

}

.gallery .img-container .image:hover img {
  transform: scale(1.2);
}