
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.DIGITAL-container {
    background: #fff;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 20px;
    /* margin-top: 5rem; */
}

@media (max-width:1024px){
    .DIGITAL-container{
        padding: 0;
    }
}
.dg-heading {
    text-align: left;
    font-size: 3rem;
    color: #eddfdf;
    margin-left: .5rem;
}

.lesson-plan {
    text-align: left;
    margin-top: 2rem;
    margin-left: .5rem;
    
}

.lesson-plan h4 {
    margin: 5px 0;
    color: #555;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 1.2rem;
    text-align: left;
}

th {
    background-color: #eeebeb;
    color: #333;
}
#digi{
    background-color: #eeebeb;
    font-weight: 600;
}
.dg{
    background-color: rgb(0, 157, 255);
    
    padding: 2rem;
   
    
}

@media screen and (max-width: 600px) {
    .heading {
        font-size: 20px;
    }

    .lesson-plan h4 {
        font-size: 14px;
    }

    th, td {
        font-size: 12px;
        padding: 8px;
    }
}

.reffrences{
    margin-left: 150px;
    width: 700px;
   
}
#h3ref{
    color: rgb(41, 36, 36);
}
#p-ref{
    color: rgb(116, 103, 103);
}


/* Media Query for screens smaller than 1200px */
@media (max-width: 1199px) {
    .reffrences {
        margin-left: 100px;
        width: 500px;
    }
    .logo{
        margin-top: -40px;
    margin-left: -20px;
    }
}

/* Media Query for screens smaller than 992px */
@media (max-width: 991px) {
    .reffrences {
        margin-left: 50px;
        width: 500px;
    }
}

/* Media Query for screens smaller than 768px */
@media (max-width: 767px) {
    .reffrences {
        margin-left: 20px;
        width: calc(100% - 30px); /* Ensure it takes almost the full width with padding */
    }
}

/* Media Query for screens smaller than 576px (mobile screens) */
@media (max-width: 575px) {
    .reffrences {
        margin-left: 30px;
        width: calc(100% - 10px); /* Ensure it takes almost the full width with padding */
    }

    #h3ref {
        font-size: 1.2em; /* Adjust font size if needed */
    }

    #p-ref {
        font-size: 0.9em; /* Adjust font size if needed */
    }
}
